/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
}

li .edit {
    flex-grow: 1;
    height: 100%; /* 高度100%铺满 */
    box-sizing: border-box; /* 确保边框和内边距包含在尺寸内 */
    border-radius: 4px;
}

li .view {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li button {
    display: none;
    margin-left: 5px;
}

li button.hidden {
    display: none;
}

li:before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}